/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #f0f0f0;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#timer {
    margin-top: 20px;
    font-size: 24px;
}

#BOX {
    margin-top: 20px;
}

.question {
    margin-bottom: 20px;
}

.option {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
}

.option:hover {
    background-color: #e0e0e0;
}

.correct {
    background-color: green;
    color: white;
}

.wrong {
    background-color: red;
    color: white;
}

#camera {
    display: none;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    button {
        font-size: 16px;
    }
    
    #timer {
        font-size: 20px;
    }
    
    .option {
        padding: 8px;
    }
}
